<div>
    <h2>PrivacyWizard</h2>


    <div ng-switch="view" class="privacy_wizard">
        <div ng-switch-when="options">
            <h4>{{idToQuestion[current_question.question_id]}}</h4>

            <fieldset class="form-group wizard_question">

                <div ng-repeat="choice in current_question.possible_choices_ids" class="radio" >
                    <label>
                        <input type="radio" ng-model="current_question.selected" ng-value="choice">
                        <span>{{idToAnswer[choice].answer}}</span>
                    </label>

                </div>

            </fieldset>

            <div class="wizard_actions">
                <button class="btn-primary" ng-click="next()" ng-disabled="!someSelected()">Next</button>
            </div>

        </div>

        <div ng-switch-when="suggestions" class="sugesstions">

            <div>
                <div ng-repeat="(question,answer) in suggestedQuestions" class="suggested_question">
                    <h4>Question: {{idToAnswer[suggestion]['question']}}</h4>
                    <fieldset class="form-group">
                        <!--<div ng-repeat="option in q.options" class="radio">
                            <label>
                                <input type="radio" ng-model="q.selected" ng-value="option">
                                <span>{{option}}</span>
                            </label>
                        </div>-->

                        <!--<select ng-options="option for option in q.options" ng-model="q.selected">  </select>-->

                        <ui-select ng-model="q.selected" style="min-width: 300px;" title="Choose a setting" theme="selectize">
                            <ui-select-match placeholder="Select or search a setting...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="option in q.options | filter: $select.search"">
                                <span ng-bind-html="option"></span>
                            </ui-select-choices>
                        </ui-select>


                    </fieldset>
                </div>
            </div>

            <div class="wizard_actions">
                <button class="btn-primary" ng-click="next()">Continue</button>
            </div>
        </div>

        <div ng-switch-when="completed">
            <h3>Congratulations! You finished the wizard!</h3>
        </div>


    </div>

    <div class="debug">
        <hr/>
        <div><b>Current Settings:</b> {{current_settings}}</div>
        <hr/>
        <div><b>Question:</b> {{current_question}}</div>
        <hr/>
        <div><b>Suggested Questions:</b> {{suggestedQuestions}}</div>
    </div>


</div>