<div>
    <h3>PrivacyWizard</h3>



    <h3>Current Settings:</h3>
    {{current_settings}}

    <hr/>
    <div>JSON : {{current_question}}</div>
    <br/>
    <hr/>

    <div ng-switch="view">
        <div ng-switch-when="options">
            <h4>{{current_question.question_id}}</h4>
        <form>
            <div ng-repeat="choice in current_question.possible_choices_ids">
                <input type="radio" ng-model="current_question.selected" ng-value="choice" >
                <label>{{choice}}</label>
            </div>
            <button ng-click="next()" ng-disabled="!someSelected()">Next</button>
        </form>

        </div>

        <div ng-switch-when="suggestions" class="sugesstions">
            {{suggestedQuestions}}
            <div ng-repeat="(q_key, q) in suggestedQuestions">
                <h4>question_id: {{q_key}}</h4>
                    <div ng-repeat="option in q.options">
                        <input type="radio" ng-model="q.selected" ng-value="option">
                        <label>{{option}}</label>
                    </div>
            </div>
            <button ng-click="next()">Continue</button>
        </div>
    </div>

</div>