<div class="tab-pane" id="ad_blocking_preferences">
    <h2>Ad Blocking Settings</h2>
    <section id="can-do-more">

        <div id="can-do-more-content">
            <ul id="features">
                <li id="feature-malware" class="feature">
                    <div class="feature-image feature-malware-image"></div>
                    <div class="feature-description">
                        <div class="feature-description-textblock">
                            <h3 class="i18n_firstRun_feature_malware feature-title">Malware Blocking</h3>
                            <span class="i18n_firstRun_feature_malware_description">Make your browsing more secure by blocking known malware domains.</span>
                        </div>


                        <div class="toggle">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                   id="toggle-malware">
                            <label class="onoffswitch-label" for="toggle-malware">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>

                    </div>

                </li>
                <li id="feature-social" class="feature">
                    <div class="feature-image feature-social-image"></div>
                    <div class="feature-description">
                        <div class="feature-description-textblock">
                            <h3 class="i18n_firstRun_feature_social feature-title">Remove Social Media Buttons</h3>
                            <span class="i18n_firstRun_feature_social_description">Automatically rid your browsing experience of social media buttons, such as the Facebook Like, which appear on web pages and track your behavior.</span>
                        </div>

                        <div class="toggle">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                   id="toggle-social">
                            <label class="onoffswitch-label" for="toggle-social">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>

                    </div>
                </li>

                <li id="feature-tracking" class="feature">
                    <div class="feature-image feature-tracking-image"></div>
                    <div class="feature-description">
                        <div class="feature-description-textblock">
                            <h3 class="i18n_firstRun_feature_tracking feature-title">Disable Tracking</h3>
                            <span class="i18n_firstRun_feature_tracking_description">Browse privately by disabling tracking - hiding your tracks from ad companies that would track your every move.</span>
                        </div>

                        <div class="toggle">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                   id="toggle-tracking">
                            <label class="onoffswitch-label" for="toggle-tracking">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>

                    </div>
                </li>

            </ul>

        </div>
    </section>
</div>