<table class="table table-bordered">
    <thead>
    <tr>
        <th>Logo</th>
        <th>App name</th>
        <th ng-if="sn=='facebook'">Visibility</th>
        <th>Permissions</th>
        <th>Actions</th>
    </tr>
    </thead>
<tr ng-repeat="app in apps">
        <td class="app_icon"><img  class="sn_app_icon" ng-src="{{app.iconUrl}}"/></td>
        <td class="app_name"><h4>{{app.name}}</h4></td>
        <td ng-if="sn=='facebook'" class="app_visibility">{{app.visibility}}</td>
        <td class="app_permissions">
            <table class="table table-bordered">
            <tr ng-repeat="permission in app.permissions">
                <td class="{{permission|removeWhiteSpace}}" >{{permission}}</td>
            </tr>
            </table>
        </td>
        <td class="app_actions">
            <button ng-disabled="app.removing == true" class="trash"  ng-click="removeSocialApp(app.appId)"></button>
        </td>
</tr>
<tr ng-if="apps.length==0">
    <td colspan="5">
        <ui-loader ng-if="requestIsMade==false"></ui-loader>
        <div ng-if="requestIsMade==true">
            <p>No {{sn}} apps installed</p>
        </div>
    </td>
</tr>
</table>