<tr class="extension pp-{{extension.privacyPollutionColor}}" >

        <td class="extension_icon" ng-class="{'no_icon':!extension.icon}" >
            <img ng-class="extension.enabled?'active':'disabled'" ng-src="{{extension.icon.url}}" width="32px"/>
            <span class="extension_name">{{extension.name}}</span>
        </td>

        <td class="privacy_pollution">
            <span>{{extension.privacyPollution}}/10</span>
            <button class="view_permissions" ng-class="{'hide_view_button': extension.permissions.length<1}" ng-click="view_permissions()"></button>
        </td>


        <td class="extension_actions">

            <label class="extension_enabled_container">
                <input type="checkbox" class="btn-primary" ng-checked="extension.enabled" ng-click="toggleEnabled()"/>
                <span class="enabled-text" >Enable</span>
            </label>
            <button class="extension_uninstall" ng-if="extension.mayDisable" ng-click="uninstall('user preference')"></button>
        </td>

</tr>