<div class="extension clearfix">

        <div class="extension_icon">
            <img ng-class="extension.enabled?'active':'disabled'" src="{{extension.icon.url}}" width="64px"/>
            <span class="extension_name">{{extension.name}}</span>
        </div>
        <div class="extension_left_ctn">
            <span>Version:</span>{{extension.version}}
            <span>Description:</span>{{extension.description}}
            <span>Type:</span>{{extension.type}}
            <div class="privacy_pollution"><span>Privacy pollution : 40/100</span></div>
        </div>

        <div class="extension_actions">
            <button class="btn-primary" ng-if="extension.enabled == false" ng-click="enable()">Enable</button>
            <button class="btn-primary" ng-if="extension.enabled" ng-click="disable()">Disable</button>
            <button class="btn-primary" ng-if="extension.permissions.length > 0" ng-click="view_permissions()">View permissions</button>
            <button class="btn-primary" ng-if="extension.mayDisable" ng-click="uninstall('user preference')">Uninstall</button>
        </div>

</div>