<tr  ng-class="{'defaultIdentity':identity.isDefault == true}">
    <td class="td_text td_radio">
        <label>
            <input type="radio" value="{{identity.name}}" class="no_content" ng-click="changeDefaultIdentity()" name="default_sid" ng-checked="identity.isDefault">
        </label>
    </td>
    <td class="td_text"><span><b>{{identity.name}}</b> </span>({{identity.email}})</span></td>
    <td class="actions">
        <button class="trash" ng-click="remove_identity()" ng-disabled="identity.isDefault==true"></button>
    </td>
</tr>
