<div id="preferences_tab" class="content_tab">
    <div class="col-xs-12">
        <div class="tab-content">
            <div ui-view id="ad_blocking_preferences">
                <section id="can-do-more">

                    <div id="can-do-more-content" ng-controller="abpController">
                        <ul id="features">

                            <li class="feature" ng-repeat="featureSubscription in featureSubscriptions" id="feature-{{featureSubscription.feature}}">
                                <abp-leakage-prevention subscription="featureSubscription"></abp-leakage-prevention>
                            </li>

                        </ul>
                    </div>
                    <i>If you want to manually edit the anti-tracking settings, click <a style="color:#ff9a00" ui-sref="abp.options">here</a>.</i>
                </section>

            </div>
        </div>
    </div>
</div>

