<!--Home-->

<div id="home_tab" class="active content_tab">

    <div>
        <!-- Tab panes -->
        <div class="tab-content">
            <div ui-view>
                <div class="tab-pane active" id="main">

                    <div class="panel-group col-xs-12">


                        <h3>Welcome to <b>PlusPrivacy</b> – your online privacy dashboard!</h3>

                        <p>Using <b>PlusPrivacy</b> you can protect yourself from a variety of online privacy threats.
                            It will enable you to control from one place the privacy settings in your social network
                            accounts, hide your email identity, block ads, trackers and malware and prevent unwanted
                            apps and browser extensions from tracking you and getting your private data.</p>

                        <p>If you choose so, <b>PrivacyPlus</b> will help you to trdo privacy deals, and trade your
                            privacy for rewards and benefits offered by participating service providers.</p>

                        <p>The sidebar will help you to explore <b>PlusPrivacy</b>. Take back your online privacy!</p>


                    </div>


                </div>
            </div>

        </div>


    </div>
    <!-- END Home-->