<div>
    <div class="item_icon user_icon"></div>
    <div id="user_area_register">
        <form class="form-horizontal" role="form" name="RegistrationForm">

            <div class="form-group">
                <label class="control-label col-sm-4" for="user_email">Your Email</label>
                <input type="email" id="user_email" validator="email"  required autofocus ng-model="user.email" />
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="user_email">Your Name</label>
                <input type="text" id="user_username"  validator="maxlength=20" required ng-model="user.username" />
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="user_pass">Password</label>
                <input type="password" id="user_pass"  validator="minlength=8" ng-model="user.password"/>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="user_pass">Repeat</label>
                <input type="password" id="user_pass_repeat" validator="minlength=8"  ng-model="user.repeat_password"/>
            </div>

            <div class="form-group form_submit user_actions">
                <button ng-click = "register()" type="submit">Register</button>
                <button ng-click = "cancel(RegistrationForm)" type="submit" validation-reset="RegistrationForm">Back</button>
            </div>

        </form>
    </div>
</div>