<tr>

    <td class="supplier_logo">
        <img class="pfb_logo" width="48px" ng-src="{{deal.logo}}"/>
    </td>

    <td class="supplier">
        <div class="pfbdeal">
        <div class="pfbdeal_website" style="text-align:center">
            <a href="http://{{deal.website}}"> <span>{{deal.website}}</span></a>
        </div>
        </div>
    </td>
    <td class="deal_description">{{deal.description}}</td>
    <td class="pfb_reward" ng-if="deal.subscribed == true">{{deal.voucher}}</td>
    <td class="voucher_code" ng-if="deal.subscribed == false">{{deal.benefit}}</td>
    <td class="actions">

        <label><input ng-checked="deal.subscribed==true" ng-click="toggleDeal()"
                      type="checkbox"/><span>Subscribe</span></label>

    </td>
</tr>
