<div class="extension clearfix">

        <div class="extension_icon">
            <img ng-class="extension.enabled?'active':'disabled'" src="{{extension.icon.url}}" width="64px"/>
            <span class="extension_name">{{extension.name}}</span>
        </div>
        <span>Version:</span>{{extension.version}}
        <span>Description:</span>{{extension.description}}
        <span>Type:</span>{{extension.type}}

        <div class="extension_actions">
            <button ng-if="extension.enabled == false" ng-click="enable()">Enable</button>
            <button ng-if="extension.enabled" ng-click="disable()">Disable</button>
            <button ng-if="extension.permissions.length > 0" ng-click="view_permissions()">View permissions</button>
            <button ng-if="extension.mayDisable" ng-click="uninstall('user preference')">Uninstall</button>
        </div>

</div>